
*,
*::before,
*::after {
  box-sizing: border-box;
}

/** {
  margin: 0;
  padding: 0;
}
*/



.background > img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.background1 > img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100vw;
}

.background0 > img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100vw;
}

.carousel {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 122rem;
  margin-left: 2rem;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  
}

.slide > img {
  display: block;
  width: 15em;
  height: 15em;
  object-fit: cover;
  object-position: center;
  
}

.slide[data-active] {
  opacity: 1;
  z-index: 2;
  transition-delay: 0ms;

}

.carousel-button {
  position: absolute;
  z-index: 3;
  background: none;
  border: none;
  font-size: 1.5rem;
  top: 2%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);

}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

img {
  background-color: gray;
}



/*img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}*/
