
*,
*::before,
*::after {
  box-sizing: border-box;
}

/** {
  margin: 0;
  padding: 0;
}
*/

.links li{
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  position: relative;
}

.background > img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.background1 > img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100vw;
}

.background0 {
  position: relative;
}

.background0 h1 {
  position: absolute;
  top: 22%;
  font-size: 70px;
  margin-left: 30%;
}

.background0 > img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  width: 100vw;
}

/*History 01 Carousel*/
.history01 {
  position: relative;
}

h1 {
  position: absolute;
}

h3 {
  position: absolute;
  padding-left: 6rem;
  padding-top: 50px;
  color: lightblue;
}

h1 a {
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 5rem;
}

p {
  position: absolute;
  padding-left: 4rem;
  padding-top: 110px;
  color: white;
}

.carousel {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  display: inline-block;
  bottom: -17rem;


}

.carousel img {
  display: inline-block;
  right: 5rem;
}

/*
.slide {

  inset: 0;
  opacity: 0;
  transition: 2000ms opacity ease-in-out;
  transition-delay: 200ms;
  display: inline-block;

}
*/

img {
  display: block;
  width: 15em;
  height: 15em;
  object-fit: cover;
  object-position: center;
  display: inline-block;

}
/*
.slide[data-active] {
  opacity: 1;
  z-index: 2;
  transition-delay: 200ms;

}
*/
.carousel-button {
  position: absolute;
  z-index: 3;
  background: none;
  border: none;
  font-size: 1.5rem;
  top: 2%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);

}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

img {
  background-color: gray;
}



/*img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}*/
